<!doctype html>
<html>
  <head>
    <title><%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopName%></h1>
    <h2>Here are the books that we sell:</h2>
    <ul>
      <li><%=availableBooks[0].name%>, <%=availableBooks[0].price%></li>
      <li><%=availableBooks[1].name%>, <%=availableBooks[1].price%></li>
      <li><%=availableBooks[2].name%>, <%=availableBooks[2].price%></li>
    </ul>
  </body>
</html> 